body {
	background-color: rgb(212, 211, 211);
}

#countLabel {
	display: block;
	text-align: center;
	font-size: 10em;
	font-family: Helvetica;
}

.btnContainer {
	display: block;
	text-align: center;
}

.buttons {
	cursor: pointer;
	padding: 10px 20px;
	font-size: 1.5em;
	color: #ffff;
	background-color: rgb(43, 132, 255);
	border-radius: 5px;
	transition: background-color 0.25s;
}

.buttons:hover {
	background-color: rgb(97, 163, 255);
}
